body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#carousel {
  max-height: 600px;
  object-fit: contain !important;
}
.lbad-4 {
  /* margin: 0; */
  padding: 150px 0 0 0;
  max-width: 450px;
}
.header-ver {
  font-size: 25px;
  color: aquamarine;
}

@media (max-width: 650px) {
  .card-pad {
    padding-left: 30px;
    max-width: 300px !important;
    /* justify-content: center; */
  }
  .lbad-4 {
    /* margin: 0; */
    padding: 80px 0 0 0;
    max-width: 280px;
  }
}
